<%= form_for(part) do |f| %>
  <% if part.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(part.errors.count, "error") %> prohibited this part from being saved:</h2>

      <ul>
      <% part.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="file-field input-field">
    <div class="btn">
      <span>FILE</span>
      <%= f.file_field :stl %>
      <%= f.hidden_field :stl_cache %>
    </div>
    <div class="file-path-wrapper">
      <input class="file-path validate" type="text" placeholder="Upload your stl file">
    </div>
  </div>

  <button class="btn waves-effect waves-light" type="submit" name="commit">Submit
    <i class="material-icons right">send</i>
  </button>
<% end %>
