<% @parts.each do |part| %>
  <div class="col s4">
    <div class="card hoverable">
      <div class="card-image">
        <%= react_component('MyStlView',
          { url: "http://localhost:3000/#{part.stl.url}", width: 300, height: 300, rotate: false, orbitControls: false }) %>
        <% if user_signed_in? %>
        <div class="card-image-btn fixed-action-btn horizontal">
          <a class="btn-floating btn-large"><i class="large material-icons">menu</i></a>
          <ul>
            <li>
              <%= link_to part_path(part), class: "btn-floating blue" do %>
                <i class="material-icons">zoom_in</i></a>
              <% end %>
            </li>
            <li>
              <%= link_to edit_part_path(part), class: "btn-floating yellow darken-1" do %>
                <i class="material-icons">mode_edit</i>
              <% end %>
            </li>
            <li>
              <%= link_to part_path(part), method: :delete, class: "btn-floating red", data: { confirm: 'Are you sure?' } do %>
                <i class="material-icons">delete</i>
              <% end %>
            </li>
          </ul>
        </div>
        <% else %>
        <div class="card-image-btn fixed-action-btn horizontal">
          <%= link_to part_path(part), class: "btn-floating btn-large" do %>
            <i class="material-icons">zoom_in</i></a>
          <% end %>
        </div>
        <% end %>
      </div>
      <div class="card-content">
        <span class="card-title grey-text text-darken-4"><%= part.name %></span>
      </div>
    </div>
  </div>
<% end %>

<% if user_signed_in? %>
<%= link_to new_part_path, class: "btn-floating btn-large waves-effect waves-light" do %>
  <i class="material-icons">add</i>
<% end %>
<% end %>