<p>
  <strong>Name:</strong>
  <%= @part.name %>
</p>

<%= react_component('MyStlView',
  { url: "http://localhost:3000/#{@part.stl.url}", width: 400, height: 400, rotate: true, orbitControls: true }) %>

<p><%= link_to 'Download link', @part.stl.url %></p>

<br>
<%= link_to 'Back', parts_path, class: "btn"%>
<% if user_signed_in? %>
<%= link_to edit_part_path(@part), class: "btn" do %>
  <i class="material-icons">mode_edit</i>
<% end %>
<% end %>