<p id="notice"><%= notice %></p>

<h1>Joint Tags</h1>

<table>
  <thead>
    <tr>
      <th>Joint</th>
      <th>Tag</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @joint_tags.each do |joint_tag| %>
      <tr>
        <td><%= joint_tag.joint_id %></td>
        <td><%= joint_tag.tag_id %></td>
        <td><%= link_to 'Show', joint_tag %></td>
        <td><%= link_to 'Edit', edit_joint_tag_path(joint_tag) %></td>
        <td><%= link_to 'Destroy', joint_tag, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Joint Tag', new_joint_tag_path %>
