<p id="notice"><%= notice %></p>

<h1>Joints</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @joints.each do |joint| %>
      <tr>
        <td><%= joint.name %></td>
        <td><%= joint.description %></td>
        <td><%= link_to 'Show', joint %></td>
        <td><%= link_to 'Edit', edit_joint_path(joint) %></td>
        <td><%= link_to 'Destroy', joint, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Joint', new_joint_path %>
