<% @joints.each do |joint| %>
  <div class="col s4">
    <div class="card hoverable">
      <div class="card-image">
        <%= image_tag joint.image, size: "364x168" %>
        <% if user_signed_in? %>
        <div class="card-image-btn fixed-action-btn horizontal">
          <a class="btn-floating btn-large"><i class="large material-icons">menu</i></a>
          <ul>
            <li>
              <%= link_to joint_path(joint), class: "btn-floating blue" do %>
                <i class="material-icons">zoom_in</i></a>
              <% end %>
            </li>
            <li>
              <%= link_to edit_joint_path(joint), class: "btn-floating yellow darken-1" do %>
                <i class="material-icons">mode_edit</i>
              <% end %>
            </li>
            <li>
              <%= link_to joint_path(joint), method: :delete, class: "btn-floating red", data: { confirm: 'Are you sure?' } do %>
                <i class="material-icons">delete</i>
              <% end %>
            </li>
          </ul>
        </div>
        <% else %>
        <div class="card-image-btn fixed-action-btn horizontal">
          <%= link_to joint_path(joint), class: "btn-floating btn-large" do %>
            <i class="material-icons">zoom_in</i></a>
          <% end %>
        </div>
        <% end %>
      </div>
      <div class="card-content">
        <span class="card-title grey-text text-darken-4"><%= joint.name %></span>
      </div>
    </div>
  </div>
<% end %>
