<div class="card horizontal">
  <div class="card-image">
    <%= image_tag @joint.image %>
  </div>
  <div class="card-stacked">
    <div class="card-content">
      <span class="card-title"><%= @joint.name %></span>
      <p><%= @joint.description %></p>
      <br>
      Tag: <% @joint.tags.each do |tag| %>
        <div class="chip">
          <%= link_to tag.name, tag_path(tag)%>
        </div>
      <% end %>
      <br>
      Part: <% @joint.parts.each do |part| %>
        <div class="chip">
          <%= link_to part.name, part_path(part) %>
        </div>
      <% end %>
    </div>
    <div class="card-action">
      <%= link_to 'Download ZIP', download_zip_path(@joint) %>
      <% if user_signed_in? %>
        <%= link_to 'Edit Joint', edit_joint_path(@joint) %>
      <% end %>
    </div>
  </div>
</div>